name: Main Indis

on:
  workflow_dispatch:
  schedule:
    - cron: "30 15 * * *"

jobs:
  run-main-indis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run main_indis.py
        env:
          MAININDIS: ${{ secrets.MAININDIS }}
        run: |
          python main_indis.py

      - name: Run indicate_indis.py
        run: |
          python indicate_indis.py

      - name: Upload Main Indis Fiyat Excel
        uses: actions/upload-artifact@v4
        with:
          name: main-indis-fiyat-results
          path: main_indis_fiyat.xlsx
          retention-days: 3

      - name: Upload Indis Indicators Excel
        uses: actions/upload-artifact@v4
        with:
          name: indis-indicators-results
          path: indis_indicators.xlsx
          retention-days: 3

      - name: Run main_indis_profit.py
        run: |
          python main_indis_profit.py   # çıktı: indis_profit.xlsx

      - name: Upload Indis Profit Excel
        uses: actions/upload-artifact@v4
        with:
          name: main-indis-profit-results
          path: indis_profit.xlsx
          retention-days: 3
