name: Main Fiyat

on:
  workflow_dispatch:
  schedule:
    - cron: "30 15 * * *"

jobs:
  run-main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run main.py
        env:
          MAIN: ${{ secrets.MAIN }}
        run: |
          python main.py   # çıktı: fiyat.xlsx

      - name: Run indicate.py
        run: |
          python indicate.py   # çıktı: indicators.xlsx

      - name: Run main_profit.py
        run: |
          python main_profit.py   # çıktı: profit.xlsx

      - name: Upload Fiyat Excel
        uses: actions/upload-artifact@v4
        with:
          name: fiyat-results
          path: fiyat.xlsx
          retention-days: 3

      - name: Upload Indicators Excel
        uses: actions/upload-artifact@v4
        with:
          name: indicators-results
          path: indicators.xlsx
          retention-days: 3

      - name: Upload Profit Excel
        uses: actions/upload-artifact@v4
        with:
          name: profit-results
          path: profit.xlsx
          retention-days: 3
