name: sektorpazar

on:
  schedule:
    - cron: '0 9 * *  1-5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - env:
          SEKTORPAZAR: ${{ secrets.SEKTORPAZAR }}
        run: |
          python sektorpazar.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sektorpazar-excel
          path: sektorpazar.xlsx
          retention-days: 6
